<section class="footer">
<div class="container">
<div class="contact">
  <a class="hm" href="#help">Help</a>
  <a class="hm" href="#about">About</a>
  <a class="hm" href="#Team">Team</a>
  <a class="hm" href="#privacy">Privacy</a>
  <a class="hm" href="#Terms">Terms</a>
 </div>
 </div>
 </section>

 