<!DOCTYPE html>
<html>
<head>

<link href="/css/muonstyle.css" rel="stylesheet">
    
</head>
<body> 

<%- include('layouts/navbar'); -%>


<section class="sec1-1">
<h1 style="font-size: 30px; color: hsl(300, 25%, 40%); text-align:center; margin-top: 45px; margin-bottom:25px">All Categories</h1>
<div class="container">
<div class="block">
<div class="cat">
<a href="/animation">
<img src="https://image.flaticon.com/icons/png/512/1791/1791944.png" >
</a>
<div class="desc"> Animation </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/F&V.html">
<img src="https://image.flaticon.com/icons/png/512/262/262537.png" >
</a>
<div class="desc"> Film & Video </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/GraphD.html">
<img src="https://image.flaticon.com/icons/png/512/1077/1077650.png" >
</a>
<div class="desc"> Graphic Design </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/Ui_Ux.html">
<img src="https://image.flaticon.com/icons/png/512/781/781642.png" >
</a>
<div class="desc"> UI/UX Design </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/lustra.html#lustra">
<img src="https://image.flaticon.com/icons/png/512/2082/2082268.png" >
</a>
<div class="desc"> Illustration </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/Ui_Ux.html#photo">
<img src="https://image.flaticon.com/icons/png/512/2413/2413289.png" >
</a>
<div class="desc"> Photography </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/3D.html">
<img src="https://image.flaticon.com/icons/png/512/1352/1352699.png" >
</a>
<div class="desc"> 3D Modeling </div>
</div>

<div class="cat">
<a href="file:///C:/Users/acer/Desktop/Draw.html">
<img src="https://image.flaticon.com/icons/png/512/426/426742.png" >
</a>
<div class="desc"> Drawing </div>
</div>
</div>
</div>
</section>

<%- include('layouts/footer'); -%>


</body>
</html>