<!DOCTYPE html>
<html>
<head>
 <link href="/css/muonstyle.css" rel="stylesheet">
</head>
<body> 

<%- include('layouts/navbar'); -%>

<section class="sec_1">
<div class="vermenu">
<span style="font-size: 25px; text-align:center; padding: 10px; border-bottom: 1px solid hsl(300, 15%, 30%)"> All categories </span>
<a class="vm" href="file:///C:/Users/acer/Desktop/Categories.html#video">Animation</a>
<a class="vm" href="file:///C:/Users/acer/Desktop/F&V.html">Film & Video</a>
<a class="vm" href="#file:///C:/Users/acer/Desktop/GraphD.html">Graphic Design</a>
<a class="vm" href="file:///C:/Users/acer/Desktop/Ui_Ux.html">UI/UX Design</a>
<a class="vm" href="file:///C:/Users/acer/Desktop/lustra.html#lustra">Illustration</a>
<a class="vm" href="file:///C:/Users/acer/Desktop/Ui_Ux.html#photo">Photography</a>
<a class="vm" href="file:///C:/Users/acer/Desktop/3D.html">3D Modeling</a>
<a class="vm" href="file:///C:/Users/acer/Desktop/Draw.html">Drawing</a>
</div>

<div class="anim">
<h1 style="font-size: 30px; text-align:center; border-bottom: 1px solid hsl(300, 15%, 30%); margin-bottom:25px"> Animation</h1>
<div class="grid">
<div class="block">
<iframe width="400" height="240" style="border-radius: 10px" src="https://www.youtube.com/embed/48pwrr4gPOA?controls=1">
</iframe>
</div>
<div class="block">
<iframe width="400" height="240" style="border-radius: 10px" src="https://www.youtube.com/embed/cz4rn_xVX2U?controls=1">
</iframe>
</div>
<div class="block">
<iframe width="400" height="240" style="border-radius: 10px" src="https://www.youtube.com/embed/vBYqbdGNfY4?controls=1">
</iframe>
</div>
<div class="block">
<iframe width="400" height="240" style="border-radius: 10px" src="https://www.youtube.com/embed/Yuk3gZZyNrg?controls=1">
</iframe>
</div>
    </div>
    </div>
</section>

<%- include('layouts/footer'); -%>

</body>
</html>